[Unit]
AssertPathExists=/home/jchook/projects/bangs

[Service]
WorkingDirectory=/home/jchook/projects/bangs
ExecStart=/home/jchook/.local/opt/n/bin/npm start
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
