[Unit]
AssertPathExists=$BANGS

[Service]
WorkingDirectory=$BANGS
Environment=PORT=3344
ExecStart=$NPM start
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
